<mat-toolbar color="primary" class="navbar">
    <a>Coffe Chain</a>

    <div class="spacer"></div>

    <button mat-raised-button color="accent" routerLink="">Home</button>
    <button mat-raised-button color="primary" routerLink="/produtor">Produtor</button>
    <button mat-raised-button color="primary" routerLink="/empresa">Empresa</button>
    <button mat-raised-button color="primary" routerLink="/propriedade">Propriedade</button>
    <button mat-raised-button color="primary" routerLink="/armazem">Armazém</button>
    <button mat-raised-button color="primary" routerLink="/entrada">Entrada</button>
    <button mat-raised-button color="primary" routerLink="/saida">Saida</button>

</mat-toolbar>